body {
  scroll-behavior: smooth;
}

section {
  padding-top: 80px;
}

.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.progress {
  height: 25px;
  margin-bottom: 15px;
}

.progress-bar {
  font-weight: bold;
}
